#  21번 / 내적

문제 설명
길이가 같은 두 1차원 정수 배열 a, b가 매개변수로 주어집니다. a와 b의 내적을 return 하도록 solution 함수를 완성해주세요.

이때, a와 b의 내적은 a[0]*b[0] + a[1]*b[1] + ... + a[n-1]*b[n-1] 입니다. (n은 a, b의 길이)

제한사항
a, b의 길이는 1 이상 1,000 이하입니다.
a, b의 모든 수는 -1,000 이상 1,000 이하입니다.
입출력 예
a	b	result
[1,2,3,4]	[-3,-1,0,2]	3
[-1,0,1]	[1,0,-1]	-2
입출력 예 설명
입출력 예 #1

a와 b의 내적은 1*(-3) + 2*(-1) + 3*0 + 4*2 = 3 입니다.
입출력 예 #2

a와 b의 내적은 (-1)*1 + 0*0 + 1*(-1) = -2 입니다.

In [ ]:
def solution(a, b):
    answer = 0
    for i in range(len(a)):
        answer += (a[i] * b[i])
    return answer

In [ ]:
a = [1,2,3,4]
b= [-3,-1,0,2]
solution(a,b)

3

In [ ]:
# 추천풀이
def solution(a, b):
    return sum([x*y for x,y in zip(a,b)])
solution(a,b)

3

In [ ]:
# 람다함수
x = [1,2,3,4]
y = [-3,-1,0,2]
solution = lambda x,y: sum(a*b for a,b in zip(x,y))
solution(x,y)

3

# 22번 / 수박수박수박수박수박수?

문제 설명
길이가 n이고, "수박수박수박수...."와 같은 패턴을 유지하는 문자열을 리턴하는 함수, solution을 완성하세요. 예를들어 n이 4이면 "수박수박"을 리턴하고 3이라면 "수박수"를 리턴하면 됩니다.

제한 조건
n은 길이 10,000이하인 자연수입니다.
입출력 예
n	return
3	"수박수"
4	"수박수박"

In [ ]:
def solution(n):
    return "수박" * (n // 2) + ("수" if n%2 == 1 else "")

In [ ]:
solution(3)

'수박수'

# 23번 / 가운데 글자 가져오기

문제 설명
단어 s의 가운데 글자를 반환하는 함수, solution을 만들어 보세요. 단어의 길이가 짝수라면 가운데 두글자를 반환하면 됩니다.

재한사항
s는 길이가 1 이상, 100이하인 스트링입니다.
입출력 예
s	return
"abcde"	"c"
"qwer"	"we"

In [ ]:
def solution(s):
    return s[len(s)//2] if len(s) % 2 == 1 else s[(len(s)//2)-1:len(s)//2+1]

In [ ]:
s = "abcde"
solution(s)

'c'

In [ ]:
# 추천풀이
def string_middle(str):
    return str[(len(str)-1)//2 : len(str)//2 + 1]
string_middle("abcde")

'c'

# 24번 / 약수의 개수와 덧셈

문제 설명
두 정수 left와 right가 매개변수로 주어집니다. left부터 right까지의 모든 수들 중에서, 약수의 개수가 짝수인 수는 더하고, 약수의 개수가 홀수인 수는 뺀 수를 return 하도록 solution 함수를 완성해주세요.

제한사항
1 ≤ left ≤ right ≤ 1,000
입출력 예
left	right	result
13	17	43
24	27	52
입출력 예 설명
입출력 예 #1

다음 표는 13부터 17까지의 수들의 약수를 모두 나타낸 것입니다.
수	약수	약수의 개수
13	1, 13	2
14	1, 2, 7, 14	4
15	1, 3, 5, 15	4
16	1, 2, 4, 8, 16	5
17	1, 17	2
따라서, 13 + 14 + 15 - 16 + 17 = 43을 return 해야 합니다.
입출력 예 #2

다음 표는 24부터 27까지의 수들의 약수를 모두 나타낸 것입니다.
수	약수	약수의 개수
24	1, 2, 3, 4, 6, 8, 12, 24	8
25	1, 5, 25	3
26	1, 2, 13, 26	4
27	1, 3, 9, 27	4
따라서, 24 - 25 + 26 + 27 = 52를 return 해야 합니다.

In [ ]:
def solution(left, right):
    answer = 0
    for i in range(left, right+1):
        li1 = [j for j in range(1, i+1) if i % j == 0]
        if len(li1) % 2 == 0:
            answer += i
        elif len(li1) % 2 == 1:
            answer -= i
    return answer

In [ ]:
solution(13, 17)

43

In [ ]:
# 추천코드 - 제곱수는 약수의 갯수가 홀수인 것을 활용
def solution(left, right):
    answer = 0
    for i in range(left,right+1):
        # i의 제곱근의 정수와 제곱근이 같으면 -> 제곱수인지를 파악
        if int(i**0.5)==i**0.5:
            answer -= i
        else:
            answer += i
    return answer
solution(13, 17)

43

# 25번 / 문자열 내림차순으로 배치하기

문제 설명
문자열 s에 나타나는 문자를 큰것부터 작은 순으로 정렬해 새로운 문자열을 리턴하는 함수, solution을 완성해주세요.
s는 영문 대소문자로만 구성되어 있으며, 대문자는 소문자보다 작은 것으로 간주합니다.

제한 사항
str은 길이 1 이상인 문자열입니다.
입출력 예
s	return
"Zbcdefg"	"gfedcbZ"

In [ ]:
def solution(s):
    return "".join(sorted(s, reverse=True))

In [ ]:
solution("Zbcdefg")

'gfedcbZ'

# level2_정답률 높은 순

# 1번 / 최댓값과 최솟값

문제 설명
문자열 s에는 공백으로 구분된 숫자들이 저장되어 있습니다. str에 나타나는 숫자 중 최소값과 최대값을 찾아 이를 "(최소값) (최대값)"형태의 문자열을 반환하는 함수, solution을 완성하세요.
예를들어 s가 "1 2 3 4"라면 "1 4"를 리턴하고, "-1 -2 -3 -4"라면 "-4 -1"을 리턴하면 됩니다.

제한 조건
s에는 둘 이상의 정수가 공백으로 구분되어 있습니다.
입출력 예
s	return
"1 2 3 4"	"1 4"
"-1 -2 -3 -4"	"-4 -1"
"-1 -1"	"-1 -1"

In [ ]:
def solution(s):
    li1 = s.split(" ")
    li2 = [int(i) for i in li1]
    return str(min(li2)) + ' ' + str(max(li2))

In [ ]:
s = "-1 -2 -3 -4"
solution(s)

'-4 -1'

In [ ]:
# 추천풀이
def solution(s):
    s = list(map(int,s.split()))
    return str(min(s)) + " " + str(max(s))
solution(s)

'-4 -1'

[-1, 0, 1, 2]