<a href="https://colab.research.google.com/github/Dev-dtrezz/Coding-Test/blob/main/03_240630_%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11번 / 정수 내림차순으로 배치하기
제출 내역
문제 설명
함수 solution은 정수 n을 매개변수로 입력받습니다. n의 각 자릿수를 큰것부터 작은 순으로 정렬한 새로운 정수를 리턴해주세요. 예를들어 n이 118372면 873211을 리턴하면 됩니다.

제한 조건
n은 1이상 8000000000 이하인 자연수입니다.
입출력 예
n	return
118372	873211

In [ ]:
def solution(n):
    li1 = []
    for i in str(n):
        li1.append(int(i))
    li1.sort(reverse=True)
    answer = ''
    for i in li1:
        answer += str(i)
    return int(answer)

In [ ]:
n = '118372'
solution(n)

873211

In [ ]:
# 추천풀이
def solution(n):
    ls = list(str(n))
    ls.sort(reverse = True)
    return int("".join(ls))
solution(n)

873211

# 12번 / 하샤드 수

문제 설명
양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다. 예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다. 자연수 x를 입력받아 x가 하샤드 수인지 아닌지 검사하는 함수, solution을 완성해주세요.

제한 조건
x는 1 이상, 10000 이하인 정수입니다.
입출력 예
x	return
10	true
12	true
11	false
13	false
입출력 예 설명
입출력 예 #1
10의 모든 자릿수의 합은 1입니다. 10은 1로 나누어 떨어지므로 10은 하샤드 수입니다.

입출력 예 #2
12의 모든 자릿수의 합은 3입니다. 12는 3으로 나누어 떨어지므로 12는 하샤드 수입니다.

입출력 예 #3
11의 모든 자릿수의 합은 2입니다. 11은 2로 나누어 떨어지지 않으므로 11는 하샤드 수가 아닙니다.

입출력 예 #4
13의 모든 자릿수의 합은 4입니다. 13은 4로 나누어 떨어지지 않으므로 13은 하샤드 수가 아닙니다.

※ 공지 - 2023년 5월 27일 문제 지문 오탈자 수정되었습니다.

In [ ]:
def solution(x):
    has = 0
    for i in str(x):
        has = has + int(i)

    if x % has == 0:
        answer = True
    else:
        answer = False
    return answer

In [ ]:
solution(10)

True

In [ ]:
# 추천풀이
def har(x):
    return x % sum(int(i) for i in str(x)) == 0

In [ ]:
har(10)

True

# 13번 / 두 정수 사이의 합
제출 내역
문제 설명
두 정수 a, b가 주어졌을 때 a와 b 사이에 속한 모든 정수의 합을 리턴하는 함수, solution을 완성하세요.
예를 들어 a = 3, b = 5인 경우, 3 + 4 + 5 = 12이므로 12를 리턴합니다.

제한 조건
a와 b가 같은 경우는 둘 중 아무 수나 리턴하세요.
a와 b는 -10,000,000 이상 10,000,000 이하인 정수입니다.
a와 b의 대소관계는 정해져있지 않습니다.

In [ ]:
def solution(a, b):
    if a < b:
        answer = sum(range(a,b+1))
    else:
        answer = sum(range(b,a+1))
    return answer

In [ ]:
solution(5,3)

12

In [ ]:
# 추천풀이
def solution(a, b):
    return sum(range(a,b+1) if a <= b else range(b,a+1))
solution(5,3)

12

# 14번 / 음양 더하기

문제 설명
어떤 정수들이 있습니다. 이 정수들의 절댓값을 차례대로 담은 정수 배열 absolutes와 이 정수들의 부호를 차례대로 담은 불리언 배열 signs가 매개변수로 주어집니다. 실제 정수들의 합을 구하여 return 하도록 solution 함수를 완성해주세요.

제한사항
absolutes의 길이는 1 이상 1,000 이하입니다.
absolutes의 모든 수는 각각 1 이상 1,000 이하입니다.
signs의 길이는 absolutes의 길이와 같습니다.
signs[i] 가 참이면 absolutes[i] 의 실제 정수가 양수임을, 그렇지 않으면 음수임을 의미합니다.
입출력 예
absolutes	signs	result
[4,7,12]	[true,false,true]	9
[1,2,3]	[false,false,true]	0
입출력 예 설명
입출력 예 #1

signs가 [true,false,true] 이므로, 실제 수들의 값은 각각 4, -7, 12입니다.
따라서 세 수의 합인 9를 return 해야 합니다.
입출력 예 #2

signs가 [false,false,true] 이므로, 실제 수들의 값은 각각 -1, -2, 3입니다.
따라서 세 수의 합인 0을 return 해야 합니다.

In [ ]:
def solution(absolutes, signs):
    li1 = []
    for i,j in zip(absolutes, signs):
        if j:
            li1.append(+i)
        else:
            li1.append(-i)
    answer = sum(li1)
    return answer

In [ ]:
absolutes = [4,7,12]
signs = [True,False,True]
solution(absolutes, signs)

9

In [ ]:
# 추천풀이
def solution(absolutes, signs):
    return sum(a if s else -a for a,s in zip(absolutes,signs))
solution(absolutes, signs)

9

# 15번 / 서울에서 김서방 찾기

문제 설명
String형 배열 seoul의 element중 "Kim"의 위치 x를 찾아, "김서방은 x에 있다"는 String을 반환하는 함수, solution을 완성하세요. seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

제한 사항
seoul은 길이 1 이상, 1000 이하인 배열입니다.
seoul의 원소는 길이 1 이상, 20 이하인 문자열입니다.
"Kim"은 반드시 seoul 안에 포함되어 있습니다.
입출력 예
seoul	return
["Jane", "Kim"]	"김서방은 1에 있다"

In [ ]:
def solution(seoul):
    for i in range(len(seoul)):
        if seoul[i] == 'Kim':
            index = i
        else:
            pass
    return f'김서방은 {index}에 있다'

In [ ]:
seoul = ["Jane", "Kim"]
solution(seoul)

'김서방은 1에 있다'

In [ ]:
# 추천풀이
def solution(seoul):
    idx = seoul.index("Kim")
    return f'김서방은 {idx}에 있다'

In [ ]:
solution(seoul)

'김서방은 1에 있다'

# 16번 / 콜라츠 추측

문제 설명
1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측입니다. 작업은 다음과 같습니다.

1-1. 입력된 수가 짝수라면 2로 나눕니다.
1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더합니다.
2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복합니다.
예를 들어, 주어진 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 됩니다. 위 작업을 몇 번이나 반복해야 하는지 반환하는 함수, solution을 완성해 주세요. 단, 주어진 수가 1인 경우에는 0을, 작업을 500번 반복할 때까지 1이 되지 않는다면 –1을 반환해 주세요.

제한 사항
입력된 수, num은 1 이상 8,000,000 미만인 정수입니다.
입출력 예
n	result
6	8
16	4
626331	-1
입출력 예 설명
입출력 예 #1
문제의 설명과 같습니다.

입출력 예 #2
16 → 8 → 4 → 2 → 1 이 되어 총 4번 만에 1이 됩니다.

입출력 예 #3
626331은 500번을 시도해도 1이 되지 못하므로 -1을 리턴해야 합니다.

※ 공지 - 2022년 6월 10일 다음과 같이 지문이 일부 수정되었습니다.

주어진 수가 1인 경우에 대한 조건 추가

In [ ]:
def solution(num):
    count = 0
    while count < 500:
        if num % 2 == 0:
            num = num / 2
        elif num == 1:
            break
        elif num % 2 == 1:
            num = (num * 3) + 1
        count += 1
    return count if count < 500 else -1

In [ ]:
solution(626331)

-1

# 17번 / 없는 숫자 더하기

문제 설명
0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 매개변수로 주어집니다. numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 return 하도록 solution 함수를 완성해주세요.

제한사항
1 ≤ numbers의 길이 ≤ 9
0 ≤ numbers의 모든 원소 ≤ 9
numbers의 모든 원소는 서로 다릅니다.
입출력 예
numbers	result
[1,2,3,4,6,7,8,0]	14
[5,8,4,0,6,7,9]	6
입출력 예 설명
입출력 예 #1

5, 9가 numbers에 없으므로, 5 + 9 = 14를 return 해야 합니다.
입출력 예 #2

1, 2, 3이 numbers에 없으므로, 1 + 2 + 3 = 6을 return 해야 합니다.

In [ ]:
def solution(numbers):
    return sum(i for i in range(10) if i not in numbers)

In [ ]:
numbers = [1,2,3,4,6,7,8,0]
solution(numbers)

14

# 18번 / 나누어 떨어지는 숫자 배열

문제 설명
array의 각 element 중 divisor로 나누어 떨어지는 값을 오름차순으로 정렬한 배열을 반환하는 함수, solution을 작성해주세요.
divisor로 나누어 떨어지는 element가 하나도 없다면 배열에 -1을 담아 반환하세요.

제한사항
arr은 자연수를 담은 배열입니다.
정수 i, j에 대해 i ≠ j 이면 arr[i] ≠ arr[j] 입니다.
divisor는 자연수입니다.
array는 길이 1 이상인 배열입니다.
입출력 예
arr	divisor	return
[5, 9, 7, 10]	5	[5, 10]
[2, 36, 1, 3]	1	[1, 2, 3, 36]
[3,2,6]	10	[-1]
입출력 예 설명
입출력 예#1
arr의 원소 중 5로 나누어 떨어지는 원소는 5와 10입니다. 따라서 [5, 10]을 리턴합니다.

입출력 예#2
arr의 모든 원소는 1으로 나누어 떨어집니다. 원소를 오름차순으로 정렬해 [1, 2, 3, 36]을 리턴합니다.

입출력 예#3
3, 2, 6은 10으로 나누어 떨어지지 않습니다. 나누어 떨어지는 원소가 없으므로 [-1]을 리턴합니다.

In [ ]:
def solution(arr, divisor):
    li1 = []
    for i in arr:
        if i % divisor == 0:
            li1.append(i)
        else:
            pass
    if len(li1) == 0:
        li1.append(-1)
    li1.sort()
    return li1

In [ ]:
solution([5, 9, 7, 10],	5)

[5, 10]

In [ ]:
# 추천풀이
def solution(arr, divisor):
    return sorted([n for n in arr if n%divisor == 0]) or [-1]
solution([5, 9, 7, 10],	5)

[5, 10]

# 19번 / 핸드폰 번호 가리기

문제 설명
프로그래머스 모바일은 개인정보 보호를 위해 고지서를 보낼 때 고객들의 전화번호의 일부를 가립니다.
전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린 문자열을 리턴하는 함수, solution을 완성해주세요.

제한 조건
phone_number는 길이 4 이상, 20이하인 문자열입니다.
입출력 예
phone_number	return
"01033334444"	"*******4444"
"027778888"	"*****8888"

In [ ]:
def solution(phone_number):
    blur = '*' * (len(phone_number)-4)
    digit = str(phone_number)[-4:]
    answer = blur + digit
    return answer

In [ ]:
phone_number = "01033334444"
solution(phone_number)

'*******4444'

In [ ]:
# 추천코드
def blur_digits(phone_number):
    return ('*' * (len(phone_number)-4)) + phone_number[-4:]
blur_digits(phone_number)

'*******4444'

# 20번 / 제일 작은 수 제거하기

문제 설명
정수를 저장한 배열, arr 에서 가장 작은 수를 제거한 배열을 리턴하는 함수, solution을 완성해주세요. 단, 리턴하려는 배열이 빈 배열인 경우엔 배열에 -1을 채워 리턴하세요. 예를들어 arr이 [4,3,2,1]인 경우는 [4,3,2]를 리턴 하고, [10]면 [-1]을 리턴 합니다.

제한 조건
arr은 길이 1 이상인 배열입니다.
인덱스 i, j에 대해 i ≠ j이면 arr[i] ≠ arr[j] 입니다.
입출력 예
arr	return
[4,3,2,1]	[4,3,2]
[10]	[-1]

In [ ]:
def solution(arr):
    return [i for i in arr if i > min(arr)] or [-1]

In [ ]:
solution([10])

[-1]